<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">

        <li><a href="#" (click) = "onHeaderClick('Recipe')">Recipe</a></li>
        <li><a href="#" (click) = "onHeaderClick('shopping')">Shoping list</a></li>

      </ul>

     <ul class="nav navbar-nav navbar-right">

      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Manage
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Save data</a></li>
          <li><a href="#">Fetch data</a></li>
        </ul>
      </li>
    </ul>


    </div>
  </div>
</nav>
